<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<connectionStrings>
		<add name="PostgreSQLConnection"
			 connectionString="Host=localhost;Port=5432;Database=my_db;Username=postgres;Password=root" />
	</connectionStrings>
</configuration>